#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.HomeMainDiv{
  jus
}
.card {
  padding: 2em;
  border
}

.read-the-docs {
  color: #888;
}

.img {
  width: 100%;
  hight: 50%;
}
